@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --scanline-color: rgba(255, 255, 255, 0.102);
  --text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.svg-white {
  filter: invert(100%);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-image: repeating-linear-gradient(to bottom,
      var(--scanline-color) 0px,
      var(--scanline-color) 1px,
      transparent 1px,
      transparent 2px);
  text-shadow: var(--text-shadow);
  animation: flicker 1.5s infinite linear;
}

.comment {
  color: #888;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}


::-moz-selection {
  background: var(--scanline-color);
}

::selection {
  background: var(--scanline-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}